{% extends 'org_panel/panel_base.html' %} {% block content %}

      <div class="mt-5 text-center w-100 h-100 d-flex align-items-center justify-content-center">
        <div class="" style="max-width:fit-content;">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Título</label>
              <input type="text" name="title" id="title" class="form-control" placeholder="ex. Ação de limpeza" value="{{ title|default:'' }}" aria-describedby="titleHelp">
              <small id="titleHelp" class="form-text text-muted">Insira o título da ação.</small>
            </div>
            <div class="mb-3">
              <label for="day" class="form-label">Dia</label>
              <input type="number" name="day" id="day" class="form-control" placeholder="ex. 01" value="{{ day|default:'' }}" aria-describedby="dayHelp">
              <small id="dayHelp" class="form-text text-muted">Insira o dia da ação.</small>
            </div>
            <div class="mb-3">
              <label for="month" class="form-label">Mês</label>
              <input type="number" name="month" id="month" class="form-control" placeholder="ex. 01" value="{{ month|default:'' }}" aria-describedby="monthHelp">
              <small id="monthHelp" class="form-text text-muted">Insira o mês da ação.</small>
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Ano</label>
              <input type="number" name="year" id="year" class="form-control" placeholder="ex. 2022" value="{{ year|default:'' }}" aria-describedby="yearHelp">
              <small id="yearHelp" class="form-text text-muted">Insira o ano da ação.</small>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Imagem</label>
              <input type="file" name="image" id="image" class="form-control" placeholder="ex. imagem.jpg" value="{{ image|default:'' }}" aria-describedby="imageHelp">
              <small id="imageHelp" class="form-text text-muted">Insira a imagem da ação.</small>
            </div>
            <div class="mb-3">
              <label for="attachments" class="form-label">Anexos</label>
              <input type="file" name="attachments" id="attachments" class="form-control" placeholder="ex. anexo.pdf" value="{{ attachments|default:'' }}" aria-describedby="attachmentsHelp">
              <small id="attachmentsHelp" class="form-text text-muted">Insira os anexos da ação.</small>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descrição</label>
              <textarea name="description" id="description" class="form-control" placeholder="ex. Ação de limpeza nas margens do rio" aria-describedby="descriptionHelp">{{ description|default:'' }}</textarea>
              <small id="descriptionHelp" class="form-text text-muted">Insira a descrição da ação.</small>
            </div>
            <button type="submit"  id= "button" class="btn btn-dark">Salvar</button>
          </form>
        </div>
      </div>

{% endblock %}
