{% extends 'view/view_base.html' %} {% block content %}

<style>
   .actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.action-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color: #333;
}

.action-card:hover {
  box-shadow: 0 0 5px #ccc;
}

.action-image img {
  width: 100%;
  height: auto;
}

.action-details {
  padding: 10px;
}

.action-details h2 {
  margin-top: 0;
}

.attachments a {
  display: block;
  margin-bottom: 5px;
}
</style>

      <div class="actions-container justify-content-center align-content-center mt-5 mb-5">
        {% if actions.count == 0 %}
          <h2>Nenhuma ação cadastrada</h2>
        {% endif %}
        {% for action in actions %}
          <a href="{% url 'view_site_action' user.username action.id %}" class="action-card">
            <div class="action-image">
              <img src="{{ action.image.url }}" alt="{{ action.title }}">
            </div>
            <div class="action-details">
              <h2>{{ action.title }}</h2>
              <p>{{ action.description }}</p>
              <p>Data: {{ action.day }}/{{ action.month }}/{{ action.year }}</p>
              <div class="attachments">
                {% for attachment in action.attachments.all %}
                  <a href="{{ attachment.file.url }}" target="_blank">{{ attachment.file.name }}</a><br>
                {% endfor %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
{% endblock %}