{% extends 'view/view_base.html' %} {% block content %}
<style>
  .action-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }

      .action-image img {
        width: 300px;
        height: auto;
      }

      .action-details {
        flex: 1;
      }
</style>
      <div class="action-container d-flex flex-column mt-5 text-center">
        <div class="action-image" style="flex-basis: 100%;">
          <img src="{{ action.image.url }}" alt="{{ action.title }}" />
        </div>
        <div class="action-details" style="flex-grow: 1;">
          <h2>{{ action.title }}</h2>
          <p>{{ action.description }}</p>
          <p>Data: {{ action.day }}/{{ action.month }}/{{ action.year }}</p>
          <div class="attachments">
            <a href="{{ action.attachments.url }}" target="_blank"
              >Anexo</a
            ><br />
          </div>
        </div>
      </div>

{% endblock %}