<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Arcos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <style type="text/css">
      body {
        font-family: "Inter", sans-serif;
      }

      .font-brand {
        font-weight: 700;
      }

      svg {
        width: 100%;
        height: auto;
        max-width: 120px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-light"
        style="background-color: {% if site_color %}{{ site_color.color }}{% else %}#f8f9{% endif %};"
      >
        <div class="container">
          <a class="navbar-brand font-brand me-5" href="#">
            <h1 class="">{{user.org_name}}</h1>
          </a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{% url 'view_site' user.username %}"
                  aria-current="page"
                  >Página inicial
                  <span class="visually-hidden">(atual)</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{% url 'view_site_actions' user.username %}"
                  aria-current="page"
                  >Ações
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{% url 'view_site_contact' user.username  %}"
                  aria-current="page"
                  >Contato
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
