{% extends 'org_panel/panel_base.html' %} {% block content %}
<div
  class="mt-5 text-center w-100 h-100 d-flex align-items-center justify-content-center"
>
  <div class="" style="max-width: fit-content">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">E-mail para contato</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="ex. euri@arcos.com"
          value="{{ email|default:'' }}"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Insira um e-mail válido para contato.</small
        >
      </div>
      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone para contato</label>
        <input
          type="tel"
          name="telefone"
          id="telefone"
          class="form-control"
          placeholder="ex. (00) 00000-0000"
          value="{{ phone|default:'' }}"
          aria-describedby="telefoneHelp"
        />
        <small id="telefoneHelp" class="form-text text-muted"
          >Insira um telefone válido para contato.</small
        >
      </div>
      <div class="mb-3">
        <label for="instagram" class="form-label">Instagram</label>
        <input
          type="text"
          name="instagram"
          id="instagram"
          class="form-control"
          placeholder="ex. @arcos"
          value="{{ instagram|default:'' }}"
          aria-describedby="instagramHelp"
        />
        <small id="instagramHelp" class="form-text text-muted"
          >Insira o nome de usuário do Instagram.</small
        >
      </div>
      <div class="mb-3">
        <label for="facebook" class="form-label">Facebook</label>
        <input
          type="text"
          name="facebook"
          id="facebook"
          class="form-control"
          placeholder="ex. /arcos"
          value="{{ facebook|default:'' }}"
          aria-describedby="facebookHelp"
        />
        <small id="facebookHelp" class="form-text text-muted"
          >Insira o nome de usuário ou URL da página do Facebook.</small
        >
      </div>
      <button type="submit" class="btn btn-dark">Salvar</button>
    </form>
  </div>
</div>
{% endblock %}
