{% extends 'org_panel/panel_base.html' %} {% block content %}

<div
  class="mt-5 text-center w-100 h-100 d-flex align-items-center justify-content-center"
>
  <div class="" style="max-width: fit-content">
    <form method="POST" action="{% url 'org_panel_update_settings' %}"  enctype="multipart/form-data">
      {% csrf_token %}

      <div class="mb-3">
        <label for="visibility" class="form-label">Visibilidade do site</label>

        <select name="visibility" id="visibility" class="form-control">
          <option value="public" {% if is_public %} selected {% endif %}>
            Público
          </option>
          <option value="private" {% if not is_public %} selected {% endif %}>
            Privado
          </option>
        </select>
        <small id="emailHelp" class="form-text text-muted"
          >Clique para mudar a visibilidade.</small
        >
      </div>

      <div class="mb-3">
        <label for="siteColor" class="form-label text-center">Cor principal do site</label>
        <input type="color" class="form-control form-control-color w-100" id="siteColor" name="siteColor" value="{% if site_color %}{{site_color}}{% else %}#FFFFFF{% endif %}" title="Choose your color">
    </div>

    <div class="mb-3">
      <label for="logo" class="form-label">Logotipo do site</label>
      {% if site_logo %}
        <img src="{{ site_logo.logo.url }}" alt="Logotipo do site" style="max-width: 10vw;">
      {% endif %}
      <input type="file" class="form-control" id="logo" name="logo">
  </div>

  <div class="mb-3">
    <label for="font" class="form-label">Tipografia do site</label>
    <select class="form-control" id="font" name="font">
        <option value="1" {% if site_font.font == 1 %}selected{% endif %}>Inter</option>
        <option value="2" {% if site_font.font == 2 %}selected{% endif %}>Arial</option>
    </select>
  </div>

      <button type="submit" class="btn btn-dark">Salvar</button>
    </form>
  </div>
</div>

{% endblock %}
