{% extends 'base.html' %}

{% block content %}

      <div class="">
        <div
          class="container d-flex justify-content-center align-items-center"
          style="height: 100vh"
        >


          <form
            class="p-5 bg-light rounded shadow"
            action="{% url 'register' %}"
            method="POST"
          >
            {% csrf_token %}
            <div class="mb-3">
              <label for="org_name" class="form-label">Nome organização</label>
              <input
                type="text"
                class="form-control"
                id="org_name"
                name="org_name"
                placeholder="EJVF Org"
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Nome de usuário</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="ejvf_org"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="ex. euri@arcos.com"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Sua senha"
              />
            </div>
            <button type="submit" id ="button"class="btn btn-dark">Criar conta</button>
          </form>
        </div>
      </div>

{% endblock %}
   